.main_content
  
  .top_content
    .top_content-right
      .top_content__group 
        = @group.name
      .top_content__members
        - @group.users.each do |member| 
          = member.name
          
      %p.top_content__members-Member
          
    
    = link_to edit_group_path(@group),class:"edit_btn" do
      edit
  
  .content_messages
    = render @messages

  .bottom_content
    .post_box
      = form_for [@group, @message], html: { class: "post_box_message" } do |f|
        = f.text_field :content, class: 'text_box', placeholder: 'type a message'
        = f.label :image, class: 'post_box__img' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'image_file'
        = f.submit 'Send', class: 'submit_btn'
      
     